name: CI

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install tools
        run: brew install shellcheck shfmt actionlint

      - name: Run shfmt
        run: shfmt -i 2 -ci -d .

      - name: Run shellcheck
        run: shellcheck setup

      - name: Run actionlint
        run: actionlint
